* {
	box-sizing: border-box;
	outline: none;
}

html,
body,
#wrapper {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	overflow: auto;
}

.panel {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	max-width: 900px;
	margin: auto;
}

.note {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 20px;
	text-align: center;
}

.common-list {
	max-width: 900px;
	margin: 50px auto 0;
}

.common-list__marks {
	display: inline-block;
	margin-right: 1em;
}

.common-list__mark {
	display: inline-block;
	padding: .25em;
	margin-left: .2em;
}

.common-list__mark_green {
	background-color: #42f45c;
}

.common-list__mark_red {
	background-color: #f00;
}

.add-form {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.add-form__form {
	position: relative;
	z-index: 1;
}

.add-form__close-lawyer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.add-form__textarea {
	resize: none;
	line-height: 1.2em;
	padding: .6em;
	width: 400px;
	display: block;
	margin: auto;
	border: 1px solid transparent;
	margin-bottom: 1.5em;
}

.add-form__textarea:focus {
	border-color: #42f45c;
}

.add-form__button {
	padding: .6em;
	border: none;
	color: transparent;
	font-family: inherit;
	color: inherit;
	//line-height: 1.2em;
}

.repeat-form {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.repeat-form__close-lawyer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
}

.repeat-form__inner {
	position: relative;
	z-index: 1;
	width: 400px;
	margin: auto;
}

.repeat-form__hint {
	display: none;
}

.repeat-form__textarea {
	resize: none;
	display: block;
}

.repeat-form__button_next {
	display: none;
}